@using Foundation.FormBuilder.DynamicForm
@model Kafala.Web.ViewModels.Commitment.ViewCommitmentViewModel

<h2>Commitment Details</h2>
@using (var form = Html.Bootstrap().BeginForm(BootstrapFormType.Horizontal, new {@class= "well" ,id = "autoForm" }))
{
    @Html.DynamicView()
}

 <div class="row">
            
            @if (Model.Payments != null)
            {
                @Html.Partial("Partial/Payment", Model, new ViewDataDictionary())
            }
        </div>