<?xml version="1.0"?>
<appSettings>
 
  <add key="PageSize" value="10"/>
  <add key="CacheExpirationInSeconds" value="1800"/>
    <add key="webpages:Version" value="2.0.0.0" />
  <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
