<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="2.2.1" targetFramework="net40" />
  <package id="CodeSharp.Package.AspNetMvc3" version="3.0" targetFramework="net40" />
  <package id="CodeSharp.Package.AspNetWebPage" version="1.0" targetFramework="net40" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net40" />
</packages>