@model Kafala.Web.ViewModels.Donor.CreateDonorViewModel


<h2>Register a new donor</h2>
@using (var form = Html.Bootstrap().BeginForm(BootstrapFormType.Horizontal, new {@class= "well validated" ,id = "autoForm" }))
{
    @Html.DynamicForm()
   
}

