@model Kafala.Web.ViewModels.Donor.DonorUpdateViewModel

<h2>Update Donor Details</h2>
@using (var form = Html.Bootstrap().BeginForm(BootstrapFormType.Horizontal, new {@class= "well" ,id = "autoForm" }))
{
    @Html.FormBuilder().DynamicForm();
}
