@model Kafala.Web.ViewModels.Donor.DonorDashBoard

<h4>Assigned Cases </h4>

 @if (Model.Commitments != null && Model.Commitments.Any())
 {
     <table class="table table-condensed">
         <tr>
             <th>Case Name</th>
             <th>Start Date</th>
             <th>End Date</th>
         </tr>
  
         @foreach (var item in Model.Commitments)
         {
             Html.RenderPartial("Partials/CommitmentListing", item);
         }

     </table>
 }
else
{
<div class="alert-info alert">
    No Commitments are associated with this donor.<br/>
    Click @Html.ActionLink("here", "Create", "Commitment", new {donorId = Model.DonorId}, new {@class = "alert-link"}) to link him/her to cases.
     
</div>
}