@model Kafala.Web.ViewModels.Donor.DonorDashBoard

<h4>Payment History</h4>

 @if (Model.Payments != null && Model.Payments.Any())
 {
     <table class="table table-condensed">
         <tr>
             <th>Case Name</th>
             <th>For the Period</th>
             <th>Collected On</th>
         </tr>
  
         @foreach (var item in Model.Payments)
         {
             Html.RenderPartial("Partials/PaymentListing", item);
         }

     </table>
 }
else
{
<div class="alert-info alert">
    No Payments are registered for this donor.<br/>
</div>
}