 
<div class="modal" id="detailsModel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" id="detailsModelHeader">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="detailsModelTitle">Modal title</h4>
      </div>
      <div class="modal-body" id="detailModelContent">
        
      </div>
      <div class="modal-footer" id="detailsModelFooter">
        <button type="button" id="detailsModelDismissButton" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
