 
<div class="modal modal-center fade" id="messageModel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" id="messageModelHeader">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="messageModelTitle">Modal title</h4>
      </div>
      <div class="modal-body" id="messageModelContent">
      </div>
      <div class="modal-footer" id="messageModelFooter">
        <button type="button" id="messageModelDismissButton" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
