@model Kafala.Web.ViewModels.PaymentPeriod.CreatePaymentPeriodViewModel


<h2>Register Payment For Donor</h2>
@using (var form = Html.Bootstrap().BeginForm(BootstrapFormType.Horizontal, new {@class= "well" ,id = "autoForm" }))
{
    @Html.FormBuilder().DynamicForm();
}


