@model Kafala.Web.ViewModels.PaymentPeriod.ViewPaymentPeriodViewModel
<h2>Payment Details</h2>
@using (var form = Html.Bootstrap().BeginForm(BootstrapFormType.Horizontal, new {@class= "well" ,id = "autoForm" }))
{
    @Html.FormBuilder().DynamicView()
}
