@model dynamic


<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
          <div class="navbar-collapse collapse">
            
           
           
        </div>
    </body>
</html>